:root{
    --black: #000000;
    --white: #ffffff;
    --purple: #5f2c91; /*95,44,145*/
    --orange: #fa8c65; /*250,140,101*/
}
html{
    width: 100%;
    background-color : var(--white);
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
}

body{
    width:80%;
    margin: auto;
}

.top-image {
    margin: auto;
    text-align: center;
}

.top-image img {
    max-width : 15rem;
}

.title-text{
    font-size: 1.5rem;
    text-align: center;
    color: var(--purple);
    text-transform: uppercase;
}

.menu-container{
    border-top: 1px solid var(--purple);
    border-bottom: 1px solid var(--purple);
}

.menu-icon img{
    width: 30px;
}

.menu-icon.active,
.menu-content.active{
    display: block;
}

.menu-content{
    display:none;
    line-height: 2.8rem;
    color: var(--black);
    font-size: 1rem;
    text-align: center;
    margin-top : 1rem;
}

.menu-content a{
    text-decoration: none;
    color: var(--purple);
    text-transform: uppercase;
    display: inline-block;
    padding: 0 0.8rem;
}
.menu-content.active a{
    display: block;
}

.menu-content a.active{
    text-decoration: underline;
    font-weight: bold;
}

/* main */
main{
    margin: 1rem 0;
}

.home-container{
    height: 100%;
    margin: 2rem 0;
    display: grid;
    grid-template: "image"
                    "text";
}
.home-container.first{
    margin-top:0;
}
.home-container .text,
.home-container .image{
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}

.home-container .text{
    grid-area: text;
    font-size: 1.2rem;
    width: 100%;
    background-color: rgba(95,44,145, 0.2);
    height: 200px;
    position: relative;
    padding: 0 2rem;
}

.home-container .text div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 4rem);
}

.home-container .image{
    grid-area: image;
    width: 100%;
}

.home-container .image.expanded{
    background: url('/assets/DSC_0096-2.jpg');
    width: 100%;
    height: 200px;
    background-position: center 30%;
    background-size: 150%;
}

.home-container .text.expanded{
    width: 100%;
}

.home-container .image img{
    width: 100%;
}

.home-container.bottom{
    vertical-align: top;
    grid-template: "schedules prices" "map map";
    grid-template-columns: 1fr 1fr;
}

.home-container .schedules{
    grid-area: schedules;
}

.home-container .prices{
    grid-area: prices;
}

.home-container .half{
    text-align:center;
    width: 50%;
}

.home-container .map{
    grid-area: map;
    margin-top: 1rem;
}
.home-container .map,
.home-container .bottom-text{
    font-size: 1.2rem;
    padding: 0;
    display: inline-block;
    box-sizing: border-box;
    justify-self: center;
}

.mapouter{text-align:right;height:250px;width:250px;margin: auto;}
.gmap_canvas {overflow:hidden;background:none!important;height:250px;width:250px;}


/* teacher page*/
.teacher-container{
    height: 100%;
}

.teacher-text,
.teacher-image{
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}

.teacher-text{
    width: 60%;
}

.teacher-image{
    width: 39%;
    min-height: 35rem;
    background: url('/assets/DSC_0119-2.jpg') calc(100% + 150px) center ;
}


/* saolim page */
.saolim-image{
    width: 100%;
    min-height: 22rem;
    background: url('/assets/schaolin-873569_1920.jpg') center calc(100% + 200px) ;
    background-size: cover;
}

.title{
    font-size: 2rem;
}
.subtitle{
    font-size: 1.5rem;
}


/* lesson page*/
.lesson-text,
.lesson-image{
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}


.lesson-text{
    width:100%;
}

.lesson-image{
    width: 100%;
    min-height: 25rem;
    background: url('/assets/01-4.jpg') center calc(100% + 200px) ;
    background-size: cover;
}


/** TABLET MEDIA QUERIES **/
@media (min-width: 48rem){
    .menu-icon.active,
    .menu-icon{
        display:none;
    }
    .menu-content{
        display:block;
        height: 2.8rem;
        margin-top: 0;
    }
    .home-container .image{
        width: 44%;
    }
    .home-container .text{
        width: 54%;
    }
    .home-container .text{
        height: 150px;
    }
    .home-container{
        display: block;
    }
    .home-container.bottom{
        display: grid;
    }
    .home-container .image.expanded{
        height: 300px;
        background-size: 100%;
    }
}

/** DESKTOP MEDIA QUERIES **/
@media (min-width: 65rem){
    .home-container .map,
    .home-container .bottom-text{
        padding: 0 2rem;
    }

    .home-container .map{
        margin-top: 0;
    }

    .home-container .third{
        width: 32.5%;
        text-align : center;
        vertical-align:middle;
    }
    .home-container.bottom{
        display: block;
    }
}