:root{
    --black: #000000;
    --white: #ffffff;
    --purple: #5f2c91;
    --orange: #fa8c65; /*var(--orange)*/
}
html{
    width: 100%;
    background-color : var(--white);
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
}

body{
    width:80%;
    margin: auto;
}

.top-image {
    margin: auto;
    text-align: center;
}

.top-image img {
    max-width : 15rem;
}

.title-text{
    font-size: 1.5rem;
    text-align: center;
    color: var(--purple);
    text-transform: uppercase;
}

.menu{
    height: 2.8rem;
    line-height: 2.8rem;
    border-top: 1px solid var(--purple);
    border-bottom: 1px solid var(--purple);
    color: var(--black);
    font-size: 1rem;
    text-align: center;
    margin-top : 1rem;
}

.menu a{
    text-decoration: none;
    color: var(--purple);
    text-transform: uppercase;
    display: inline-block;
    padding: 0 0.8rem;
}

.menu a.active{
    text-decoration: underline;
    font-weight: bold;
}

/* main */
main{
    margin: 1rem 0;
}

.home-container{
    height: 100%;
    margin: 2rem;
}
.home-container.first{
    margin-top:0;
}
.home-container .text,
.home-container .image{
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}

.home-container .text{
    font-size: 1.5rem;
    width: 59%;
}

.home-container .text.left{
    padding-right: 2rem;
}

.home-container .text.right{
    left: 2rem;
}

.home-container .image{
    width: 39%;
}

.home-container .image img{
    width: 100%;
}

/* teacher page*/
.teacher-container{
    height: 100%;
}

.teacher-text,
.teacher-image{
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}

.teacher-text{
    width: 60%;
}

.teacher-image{
    width: 39%;
    min-height: 35rem;
    background: url('/assets/DSC_0119-2.jpg') calc(100% + 150px) center ;
}


/* saolim page */
.saolim-image{
    width: 100%;
    min-height: 22rem;
    background: url('/assets/schaolin-873569_1920.jpg') center calc(100% + 200px) ;
    background-size: cover;
}

.title{
    font-size: 2rem;
}
.subtitle{
    font-size: 1.5rem;
}


/* lesson page*/
.lesson-text,
.lesson-image{
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}


.lesson-text{
    width:100%;
}

.lesson-image{
    width: 100%;
    min-height: 25rem;
    background: url('/assets/01-4.jpg') center calc(100% + 200px) ;
    background-size: cover;
}